.container {
    width: 100%;
    height: 100%;
}

.cy {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

header .form-container {
    display: flex;
    gap: 1rem;
}

.menu_btn.disabled {
    position: relative;
    right: 35%;
}

.form-container .form:nth-child(2) {
    width: 40%;
}